<div class="container top-page-padding">

  <div class="question-h2"><h2> ADD QUESTION </h2></div>

  <div class="add-new-question">
    <div class="question-fields">

      <%= form_for [@drill_group, @question] do |f| %>
      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'question-title' %>
      </div>

      <div><br>
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'question-description' %>
      </div>

      <div>
        <%= f.label :points %><br>
        <%= f.number_field :points, placeholder: '# Enter number here',class: 'points' %>
      </div>




      <div class="container">
        <div class="row">
          <div class="control-group" id="fields">
            <label class="control-label" for="field1">Solutions</label>
            <div class="controls">
                <div class="entry input-group col-xs-3">

                  <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>

              </div>
            </div>
          <br>
          <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another solution </small>

          </div>
        </div>
      </div>


      <div>

        <%= f.submit "GET STARTED", class: 'btn btn-default red-button top-button-margin' %>


      </div>


      <% end %>

      <%#------------ dynamic solution form is below --------%>




    </div>
  </div>


</div> <%# end container div %>
