
<div class="container">

<h1>DrillGroups</h1>

  <% @drillGroups.each do |f| %>
  <div><%= link_to 'project', drill_group_path(f) %></div>
    <div>  <%= f.category %> </div>
    <div>  <%= f.description %> </div>
    <div>  <%= f.difficulty %> </div>
  <% end %>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-3">
        <%= image_tag 'logo/ruby.gif', class:"" %>
      </div>
      <div class="col-sm-9">
        <h3>Ruby on Rails</h3>
        <p>Here you will learn ruby on rails</p>
        <p>description goes here</p>
        <button type="button" class="btn btn-default red-button">Enter</button>
      </div>
    </div>
  </div>


</div>
