<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnFire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Hello #{current_user.full_name.titleize}" %>
      <%= link_to 'Log Out', session_path, method: :delete%>
    <% else %>
      <%= link_to 'Sign in', new_session_path %>
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
