<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnFire</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Montserrat:400,500,600i',
 media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>

      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to root_path do %>
              <%= image_tag 'logo/codecorelogo.png', class:"nav-logo" %>
            <% end %>

            <% if user_signed_in? %>
              <%= link_to "HELLO #{current_user.full_name.titleize}" %>
            <% else %>
            <% end %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right nav-form-spacing">
              <li>
                <!-- <div class="form-group nav-selections">
                  <%= link_to 'Ranking', session_path, method: :delete, class:"" %>
                </div> -->

                <%= link_to root_path do %>
                  <p class="form-group nav-selections">Ranking</p>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %>
                  <div class="form-group">
                    <%= link_to 'LOG OUT', session_path, method: :delete, class:"btn btn-default red-button" %>
                  </div>
                <% else %>
                  <%= form_tag session_path, class:"form-inline" do %>
                    <div class="form-group">
                      <%= email_field_tag :email, "", class:'form-control nav-bar-forms', placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <%= password_field_tag :password,"", class:'form-control nav-bar-forms', placeholder: "Password" %>
                    </div>
                    <%= submit_tag 'SIGN IN', class:"btn btn-default red-button" %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <% if flash[:notice] %>
      <div class='alert alert-success'>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class='alert alert-danger'>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <footer class="bg-footer footer">
      <div class="container">

        <ul class="nav navbar-nav">

          <li class="footer-image">
            <%= link_to root_path do %>
              <%= image_tag 'logo/codecorelogo.png', class:"nav-logo pull-left" %>
            <% end %>
          </li>


          <li class="footer-links">
            <a>Contact</a>
          </li>
          <li class="footer-links">
            <a>Policies</a>
          </li>
          <li class="footer-links">
            <a>About Us</a>
          </li>


        </ul>

        <div class="footer-icon-container">
          <ul>
            <li class="footer-icons">
              <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </li>
            <li class="footer-icons">
              <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            </li>
            <li class="footer-icons">
              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
